<!DOCTYPE html>
<html>
<head>
    <title><%= appName %></title>


    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<header>
    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><%= appName %></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>后台首页</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>用户管理</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-inbox"></span>内存管理</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>标签管理</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">JasonZeng <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><span class="glyphicon glyphicon-home"></span>个人首页</a></li>
                            <li><a href="#">个人设置</a></li>
                            <li><a href="#">我的收藏</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">操作</li>
                            <li><a href="#">安全退出</a></li>

                        </ul>
                    </li>
                    <li class="active"><a href="./">友情链接 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">退出</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</header>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h3 class="h3">发现系统安全问题</h3>
                <p>不修复可能存在安全问题</p>
                <button class="btn btn-info" role="button" data-dismiss="alert">去修复</button>
                <button class="btn btn-danger" role="button">忽略</button>
            </div>
        </div>


        <div class="col-md-3">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                系统设置
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <ul class="list-group">
                            <li class="list-group-item"><a>用户管理</a></li>
                            <li class="list-group-item"><a>部门管理</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                内容管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item"><a>关于我们</a></li>
                                <li class="list-group-item"><a>联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                博客管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <ul class="list-group">
                            <li class="list-group-item"><a>博客列表</a></li>
                            <li class="list-group-item"><a>博客分类</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    网站数据统计

                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>统计项目</th>
                            <th>近日</th>
                            <th>昨日</th>
                        </tr>

                        </thead>
                        <tbody>
                        <tr>
                            <td>111</td>
                            <td>111</td>
                            <td>111</td>
                        </tr>
                        <tr>
                            <td>111</td>
                            <td>111</td>
                            <td>111</td>
                        </tr>
                        </tbody>
                    </table>
                    <nav class="pull-right">
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li ><a href="#">1 <span class="sr-only">(current)</span></a></li>
                            <li ><a href="#">2 <span class="sr-only">(current)</span></a></li>
                            <li ><a href="#">3 <span class="sr-only">(current)</span></a></li>
                            <li ><a href="#">4 <span class="sr-only">(current)</span></a></li>
                            <li><a href="#" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                        </ul>
                    </nav>
                </div>

            </div>


        </div>

    </div>

</div>

</body>
</html>
